body {
    /*font-family: Georgia, "Times New Roman",*/
    font-family: Andale Mono, Monospaced,
    Times, serif;
    color: black;
    background-color: #2e52cc
}
h1 {
    font-size: 250%;
}
h3 {
    font-size: 120%;
}
/*h4 {*/
    /*font-family: Times, serif*/
/*}*/


